/* dashboard.css */
.main-content {
  min-height: calc(100vh - 60px); /* Altura mínima del contenido principal menos la altura del footer */
  padding-bottom: 60px; /* Espacio para el footer */
}

/* Estilos del botón de subir tesis */
.customButtonTesis {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  width: 60px;
  height: 60px;
  border-radius: 50%; /* Hace el botón completamente redondo */
  background-color: #FFC107; /* Color de fondo del botón (ajusta a tu preferencia) */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del botón */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s; /* Efecto de transición al pasar el ratón por encima */
}

.customButtonTesis:hover {
  background-color: #FFD700; /* Cambia el color de fondo al pasar el ratón por encima */
}

/* footer.css */
.footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #dee2e6;
}

.footer .container {
  max-width: 1140px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
  color: #6c757d;
}

/* Añadir en tu archivo CSS global, por ejemplo, dashboard.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1em 0;
}
